*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

section{
    margin: 120px 0;
}

.section-title{
    margin-top: 100px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.section-description{
    margin: 10px 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.banner-container{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.banner-title{
    color: #272727;
    font-size: 55px;
    font-weight: bolder;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    margin: 15px 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
}

.banner-img{
    width: 580px;
    height: 745px;
}

.btn-primary{
    border-radius: 8px;
    background-color: #E55473;
    padding: 13px 25px;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
}

.featured-section{
    width: 80%;
    margin: 30px auto;
}

.featured-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    margin: 50px 0;
}

.featured-box{
    width: 350px;
    height: 450px;
    background-color: yellow;
    border-radius: 300px 300px 0px 0px;
}

.featured-box > img{
    margin-top: 100px;
    height: 350px;
    width: 300px;
    margin-left: 25px;
}

.box-1{
    background-color: rgba(167, 33, 98, 0.15);
}

.box-2{
    background-color: rgba(5, 151, 160, 0.15);
}

.box-3{
    background: rgba(71, 125, 17, 0.15);
}

.flower-info{
    color: #272727;
    margin: 10px 0;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    text-decoration-line: underline;
}

.support-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 75%;
    margin: auto;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
}

.support-box{
    padding: 70px 0;
}

.deal-container{
    padding: 70px 0;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.deal-info{
    width: 40%;
    margin: auto;
}

.text-primary{
    color: #E55473;
}

.deal-img{
    margin-right: 250px;
    width: 300px;
    height: 380px;
}

.deal-btn{
    display: block;
    margin: auto;
}

.instagram-section{
    width: 50%;
    margin: auto;
}

.instagram-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:15px;
}

.insta-img{
    width: 280px;
    height: 300px;
}

.blog-boxes{
    height: 300px;
    width: 350px;
}

.blog-section{
    width: 80%;
    margin: 150px auto;
}

.blog-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.blog-img{
    width: 270px;
    height: 250px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.blog-description{
    margin: 5px 0;
    font-size: 15px;
    color: gray;
}

.newsletter-section{
    display: flex;
    align-items: center;
}

.newsletter-container{
    height: 350px;
    margin: auto;
    border-radius: 8px;
    background-size: cover;
    width: 77%;
    background-image: url('./images/Rectangle\ 9.png');
}

input{
    margin-right: 10px;
    width: 500px;
    height: 50px;
    text-indent: 20px;
    border-radius: 8px;
    border: none;
}

.form{
    text-align: center;
}

.footer-container{
    padding: 100px;
    text-align: center;
    background-color: #111010;
}

.footer-title{
    color: white;
    margin: 10px;
    font-size: 30px;
}

.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    margin: 10px;
}

.copyright{
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.40);
    font-size: 15px;
}

